<div class="container">
		<div class="row">
			<div class="accordion">
				<accordion close-others="false" class="accordion">
					<accordion-group is-open="false">
						<div class="col-lg-3">
							<accordion-heading>
								<div class="nav-start nav-box-red">About Me</div>
							</accordion-heading>
							<div class="nav-box nav-box-red">
								<p class="nav-box-text">Having spent the last 14 years in the Information Technology field, I have gained experience in many aspects of IT and developed a passion and desire to learn more about programming and databases. To realize my dream of becoming a web application developer, I attended the RefactorU full-stack boot-camp and am now seeking a position as a junior web app developer.</p>
								<h3 class="pull-right link-text-red" ng-click="open('resume')">Resume</h3>
							</div>
						</div>
						<div class="col-lg-3">
							<accordion-heading>
								<div class="nav-start nav-box-red">Contact</div>
							</accordion-heading>
							<div class="col-lg-3 nav-box nav-box-yellow" ng-click="toggle('contact')">
								<p>Justin Van Voorst</p>
								<p>303-516-4002</p>
								<a href="mailto:justin.vanvoorst@gmail.com">justin.vanvoorst@gmail.com</p>
								<p><a href="https://www.linkedin.com/in/justinvanvoorst">LinkedIn - justinvanvoorst</a></p>
								<p><a href="https://github.com/jvanvoorst">GitHub - jvanvoorst</a></p>
							</div>
						</div>	
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>