.background {
	background: url("../images/tmb-crop.jpg") bottom right no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.nav-box {
	padding-top: 1em;
	color: black;
	cursor: pointer;
	font-size: 1rem;
	font-family: sans-serif;

}
.nav-start {
	font-size: 3em;
	color: white;
	font-family: Lato;
	text-align: center;
	cursor: pointer;
}
.nav-container {
	padding-top: 4em;
}
.nav-box-red {
	background: rgba(231, 76, 60, 0.6);
}
.nav-box-yellow {
	text-align: center;
	background: rgba(241, 196, 15, 0.5);
}
.nav-box-blue {
	background: rgba(52, 73, 94, 0.5);
}
.nav-box-text {
	font-size: 1.15rem;
}
.buttons {
	text-align: center;
	margin-bottom: 1rem;
}
.buttons button {
	color: black;
}
.resume-body {
	width: 100%;
	height: 1100px;
}
.portfolio-images {
	width: 100%;
	cursor: pointer;
}
.next-row {
	padding-top: 20px;
}
.portfolio-images-last {
	padding-bottom: 15px;
}
